-
	var
		htmlClass = "wide wow-animation",
		fonts = "//fonts.googleapis.com/css?family=Montserrat:300,300i,400,400i,500,500i,600,600i,700,700i,800,900",
		subscribeFormCounter = 0,
		logo = {
			default: { normal: 'logo-default-173x40', retina: 'logo-default-173x40' },
			inverse: { normal: 'logo-default-inverse-173x40', retina: 'logo-default-inverse-173x40'},
			name: 'Oversize'
		},
		colors = {
			primary: '#B399CD'
		},
		menu = [
			 {
			 	title: '',
			 	category: 'main',
			 	link: '#section-main'
			 },
			{
				title: 'Why Choose Us ',
				category: 'why Choose Us ',
				link: '#why-choose-us'
			},
			{
				title: 'Our Works',
				category: 'our Works',
				link: '#gallery'
			},
			{
				title: 'About Us',
				category: 'about us',
				link: '#women-choose'
			},
			{
				title: 'Testimonials',
				category: 'testimonials',
				link: '#testimonials'
			}
		];
